#!/bin/sh

# Forwarding
echo 1 > /proc/sys/net/ipv4/ip_forward

ip link set lo up
ip addr add 127.0.0.1/8 dev lo

ip link set eth0 up
ip addr add 10.0.0.2/24 dev eth0
